################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PayrollSys.BL/.vs
/PayrollSys.WPF/.vs
/PayrollSys.BL/bin
/PayrollSys.BL/obj
/PayrollSys.WPF/bin
/PayrollSys.WPF/obj